.plain_a {
    text-decoration: none;
}

.entrance {
    margin: auto;
    margin-top: 20px;
    width: 98%;
    height: 6em;
    border: lightgray 2px solid;
    border-radius: 20px;
    color: black; 
    text-decoration: none;
    position: relative;
}

.entrance img {
    height: 6em;
    vertical-align: middle;
}

.entrance .title {
    color: black;
    font-size: 1.5em;
    vertical-align: middle;
}

.entrance .leader {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: #bbbbbb;
}