.ch_text p {
    text-indent: 2em;
    font-size: 1.1em;
}

.en_text p {
    text-indent: 2em;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

.pnq {
    width: 99%;
    margin: auto;
    margin-top: 20px;
}
.pic {
    width: 100%;
}

.quote {
    margin: 5px 0;
    padding: 5px;
    padding-top: 10px;
    border: lightgray 2px solid;
    border-radius: 15px;
}